.biro-error-padding{
	margin-top:10px;
}

.biro-horizontal-padding{
	padding-left:8px;
}

.help-block{
	margin-bottom:0px !important;
}

.form-group{
	margin-bottom:10px !important;
}

.form-inline .form-group{
	margin-right:5px !important;
}

.biro-no-bold{
	font-weight: normal !important;
}