.biroForm .biro-error-padding{
	margin-top:10px;
}

.biroForm .biro-horizontal-padding{
	padding-left:8px;
}

.biroForm .help-block{
	margin-bottom:0px !important;
}

.biroForm .form-group{
	margin-bottom:10px !important;
}

.biroForm .form-inline .form-group{
	margin-right:5px !important;
}

.biroForm .biro-no-bold{
	font-weight: normal !important;
}